.daterangepicker{
    background: #fff;
    font-size: 13px;
    width: 676px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.daterangepicker .title {
    margin:0 10px;
    color: #757575;
    font-size: 13px;
    border-bottom: 1px solid #EEEFF5;
    margin-bottom: 8px;
}
.daterangepicker .title div {
    display: inline-block;
    text-align: center;
    padding: 5px 5px 8px;
}
.daterangepicker .title div {
    width: 90%;
    text-align: right;
}
.ranges{
    width: 140px;
    margin-left: 0!important;
    text-align: left;
}
.ranges ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.ranges ul li {
    display: inline-block;
    margin: 4px 3px;
    padding: 4px 7px;
    text-align: center;
    color: #559FF0;
    border-radius: 2px;
    transition: background .2s;
    /* width: 46px; */
    font-size: 13px;
    width: 116px;
}
.ranges ul li:nth-last-child(2), .ranges ul li:nth-last-child(1) {
    width: 116px;
}

.ranges li:nth-last-child(2) {
    width: 124px;
}
.ranges li {
    
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    color: #08c;
    padding: 3px 12px;
    margin-bottom: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.report-date-picker-wrap .ranges ul li.active {
    background: #559FF0;
    color: #fff;
    border: 1px solid transparent;
}
.report-date-picker-wrap .ranges ul li:hover {
    background: #559FF0;
    color: #fff;
    border: 1px solid transparent;
}
.daterangepicker .toolbar {
    clear: both;
    margin: 6px 0 0;
    height: 35px;
}
.daterangepicker .toolbar .item:last-child {
    margin-right: 5px;
}
.daterangepicker .toolbar .item:first-child {
    margin-left: 6px;
}
.daterangepicker .toolbar .item:last-child {
    float: right;
}
.daterangepicker .toolbar .item {
    padding-right: 10px;
    display: inline-block;
    height: 30px;
}
.btn.btn-small {
    min-width: 60px;
    height: 30px;
    padding: 5px 10px;
    font-size: 13px;
}
.btn-link {
    color: #559FF0;
    transition: color .2s ease-in-out;
    padding-bottom: 2px;
    border: 0;
    outline: 0;
    min-width: 40px;
    background: transparent;
}
.btn-primary, .btn-sub {
    background: #f6f8fa;
    border: 1px solid #a8b7c8;
    padding: 6px 10px;
    display: inline-block;
    outline: 0;
    height: 36px;
    line-height: 20px;
    min-width: 60px;
    font-size: 14px;
    transition: background .2s ease-in-out,box-shadow .2s ease-in-out;
    background: #2DCA93;
    border: 0;
    color: #f6f8fa;
    padding: 8px 10px;
}
.calendar-wrap{
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #4A90E2;
}
.report-date-picker-wrap {
    width: 210px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    height: 50px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1;
}
input[type=number], input[type=text] {
    background: #f6f8fa;
    padding: 6px 10px;
    display: inline-block;
    outline: 0;
    height: 29px;
    line-height: 20px;
    min-width: 60px;
    font-size: 13px;
    transition: background .2s ease-in-out,box-shadow .2s ease-in-out;
    color: #212121;
    border-radius: 3px;
    box-shadow: none;
    background-color: #fff;
    vertical-align: middle;
}
.report-date-picker-wrap input {
    width: 210px;
    padding-left: 32px;
    border: 0px solid rgba(0,0,0,.12);
    background: #e7ebf0;
    cursor: pointer;
    height: 50px;
}
.rc-calendar-year-panel-body .rc-calendar-year-panel-table{
   height: auto
}

.rc-calendar-month-panel-body .rc-calendar-month-panel-table{
    height: auto
 }